.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 8%;
}

.link {
  text-decoration: none;
  color: #333;
  border: 1px black solid;
  width: 100px;
  height: 40px;
}

.link.active {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}