.piece-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.gameboard {
  display: flex;
  flex-direction: row;
}

button {
  border: 0px;
  border-radius: 3px;
  margin: 20px 10px;
  height: 30px;
  width: 80px;
}